.header__link {
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity 0.3s;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
}

.header__link:hover {
  opacity: 60%;
}

@media screen and (max-width: 454px) {
  .header__link {
    font-size: calc(18px - ((454px - 100vw) / 30));
    align-self: flex-end;
  }
}
@media screen and (max-width: 334px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}  