.element__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/Trash.svg);
  background-color: unset;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}
 
.element__delete-button:disabled {
 display: none;
}

.element__delete-button:hover {
  opacity: 60%;
}